{% for block in section.blocks %}
  {% if block.type == 'tab-3' %}
    {%- assign collection = collections[block.settings.tab3_product] -%}
    {% paginate collection.products by 400 %}
      {% for product in collection.products %}
        {% for tag in product.tags %}
          {% if tag == 'tag_3' %}
            <div>
              <div class="product-item-wrapper">
                <div class="product-item">
                  <div class="item">
                    <div class="product-label-and-sku-wrapper">
                      {% assign date_created = product.created_at | date: '%s' %}
                      {% assign date_now = 'now' | date: '%s' %}
                      {% assign difference = date_now | minus: date_created %}
                      {% if difference < 604800 %}
                        <div class="product-label">New</div>
                      {% else %}
                        <div></div>
                      {% endif %}
                      {% if product.selected_or_first_available_variant.sku != blank %}
                        <div class="product-sku">
                          <div class="sku-label">sku:</div>
                          <span>{{ product.selected_or_first_available_variant.sku }}</span>
                        </div>
                      {% endif %}
                    </div>
                    <div class="product-info">
                      <div class="product-image">
                        <a href="{{ product.url }}" title="{{ product.title }}">
                          <img
                            srcset="
                          {%- if product.featured_image.width >= 165 -%}
                            {{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                          {%- if product.featured_image.width >= 360 -%}
                            {{ product.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                          {%- if product.featured_image.width >= 533 -%}
                            {{ product.featured_image | image_url: width: 533 }} 533w,{%- endif -%}
                          {%- if product.featured_image.width >= 720 -%}
                            {{ product.featured_image | image_url: width: 720 }} 720w,{%- endif -%}
                          {%- if product.featured_image.width >= 940 -%}
                            {{ product.featured_image | image_url: width: 940 }} 940w,{%- endif -%}
                          {%- if product.featured_image.width >= 1066 -%}
                            {{ product.featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                          {{ product.featured_image | image_url }} {{ product.featured_image.width }}w
                                                  "
                          sizes="(min-width: 768px) 200px, (max-width: 767px) 130px"
                          src="{{ product.featured_image | img_url: "master" }}"
                          width="190"
                          height="190"
                          alt="{{ product.featured_image.alt | escape }}"
                          class="lazyload"
                          loading="lazy">
                        </a>
                      </div>
                      <div class="product-details">
                        <h3>
                          <a
                            href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
                        </h3>
                        <div class="price-wrapper">
                          <div class="normal-price">
                            {{ product.selected_or_first_available_variant.price | money }}
                            <strong>
                              {{ product.selected_or_first_available_variant.price | times: 5 | divided_by: 6 | round: 2 | money }} Ex.VAT
                            </strong>
                          </div>
                        </div>
                        <div class="bottom-details">
                          {% if product.available %}
                            {% if section.settings.button_text != blank %}
                              <div class="add-to-cart">
                                <a
                                  {% if product.available %}
                                  {% else %}
                                  style="pointer-events: none;"
                                  {% endif %}
                                  href="{{product.url}}"
                                  data-var-id="{{ product.variants.first.id }}"
                                  data-qty="1"
                                  title="{{- section.settings.button_text -}}"
                                  class="cart-btn custom_atc_btn">
                                  {{- section.settings.button_text -}}
                                </a>
                              </div>
                            {% endif %}
                          {% else %}
                            <div class="sold-out-button">
                              <a
                                href="#"
                                data-var-id="{{ product.variants.first.id }}"
                                data-qty="1"
                                title="Sold Out"
                                class="sold-out custom_sold__out_btn">
                                Sold Out
                              </a>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endpaginate %}
  {% endif %}
{% endfor %}