<header class="main-header {% if section.settings.message %}announcement-bar-enable {% endif %}">  
    {% if section.settings.message %}
      {% if section.settings.home_page_only == false or request.page_type == 'index' %} 
        <style>
            .announcement-bar {
                background-color: {{ section.settings.color_bg }};
                margin-bottom: 15px;
            }
            .announcement-bar__link:hover {
                {% assign brightness = section.settings.color_bg | color_brightness %}
                {% if brightness <= 192 %}
                    {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
                    background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
                {% else %}
                    {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
                    background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
                {% endif %}
                }
            .announcement-bar__message {
                color: {{ section.settings.color_text }};
            }
        </style>
        <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
          {% if section.settings.announcement_desktop_image != blank %}
            {%- unless section.settings.message_link == blank -%}
                <a href="{{ section.settings.message_link }}" class="announcement-bar__link">
            {%- endunless -%}
                <img src="{{ section.settings.announcement_desktop_image | img_url: 'master' }}" class="announcement_desktop_image" alt="{{ section.settings.announcement_desktop_image.alt }}" />
                <img src="{{ section.settings.announcement_mobile_image | img_url: 'master' }}" class="announcement_mobile_image" alt="{{ section.settings.announcement_mobile_image.alt }}" />
             {%- unless section.settings.message_link == blank -%}
                </a>
             {%- endunless -%}
          {% else %}
            {%- unless section.settings.message_link == blank -%}
              <a href="{{ section.settings.message_link }}" class="announcement-bar__link">
            {%- endunless -%}
                <p class="announcement-bar__message">{{ section.settings.message_text }}</p>
            {%- unless section.settings.message_link == blank -%}
              </a>
            {%- endunless -%}
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
    <div class="container">
        <div class="header-top">
            <a href="/" class="logo" title="Tools4Trede">
                {% if section.settings.logo_img != blank %}
                    <img src="{{ section.settings.logo_img | img_url: "master" }}" width="172" height="27" alt="{{ section.settings.logo_img.alt | escape }}">
                {% endif %}
            </a>
            <div class="header-center header-right">
                <div class="searchForm">
                    <form class="search-form" action="/pages/search-results">
                        <input type="text" name="q" class="search-form__input" maxlength="40" placeholder="Search Entire Store Here..." >
                        <button type="submit" title="Search Icon" aria-label="Search here...">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
                            <path id="Path_7" data-name="Path 7" d="M30.755,29.58l-4.808-4.808a8.422,8.422,0,1,0-1.18,1.18l4.808,4.8a.833.833,0,0,0,1.18-1.176Zm-11.327-3.4a6.753,6.753,0,1,1,6.755-6.751A6.76,6.76,0,0,1,19.429,26.18Z" transform="translate(-10.5 -10.5)" fill="#ed1b30" stroke="#ed1b30" stroke-width="1"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <div class="header-right">
                <div class="account-links-group">
                    <nav role="navigation">
                        <ul>
                            {% if section.settings.offer_link != blank %}
                                <li>
                                    <a href="{{ section.settings.offer_link }}" title="offers" class="offers">
                                        {% render 'offer-icon' %}
                                        {{ section.settings.offer_text -}}
                                    </a>
                                </li>
                            {% endif %}
                            {% if section.settings.help_link != blank %}
                                <li>
                                    <a href="{{ section.settings.help_link }}" title="Help" class="help">
                                        {% render 'help-icon' %}
                                        {{ section.settings.help_text -}}
                                    </a>
                                </li>
                            {% endif %}
                                <li>
                                    <a href=" {% if customer %}/account{% else %}https://tools4trade.co.uk/account/login{% endif %}" class="sign-in" title="{% if customer %}{{ customer.name }}{% else %}Sign In{% endif %}">
                                        {% render 'user-icon' %}
                                        {{ customer.name -}}
                                    </a>
                                    <ul class="account-sub-menu">
                                        {% if customer %}
                                            {% if section.settings.order_text != blank %}
                                                <li class="sub-menu-item">
                                                    <a href="/account" title="My Orders">
                                                        {% render 'order-icon' %}
                                                        {{ section.settings.order_text -}}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if section.settings.wishlist_link != blank %}
                                            <li class="sub-menu-item">
                                                <a href="{{ section.settings.wishlist_link }}" title="Shopping Wishlist">
                                                    {%- render 'wishlist-icon' %}
                                                    {{ section.settings.wishlist_text -}}
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="sub-menu-item" {% if customer %} style="display:none;"{% endif %} >
                                            <a href="https://tools4trade.co.uk/account/login" title="Customer Login">
                                                {% render 'user-icon' %}
                                                Login
                                            </a>
                                        </li>
                                        {% if customer %}
                                            {% if section.settings.address_text != blank %}
                                                <li class="sub-menu-item">
                                                    <a href="{{ routes.account_addresses_url }}" title="My Address">
                                                        {%- render 'address-icon' %}
                                                        {{ section.settings.address_text -}}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if customer %}
                                            {% if section.settings.logout_text != blank %}
                                                <li class="sub-menu-item">
                                                    <a href="{{ routes.account_logout_url }}" title="Logout">
                                                        {%- render 'logout-icon' %}
                                                        {{ section.settings.logout_text -}}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </li>
                        </ul>
                    </nav>
                </div>
                <div class="minicart-wrapper">
                    <a class="mobile-user-icon" href="{% if customer %}/account{% else %}https://tools4trade.co.uk/account/login{% endif %}" class="sign-in" title="{% if customer %}{{ customer.name }}{% else %}Sign In{% endif %}">
                        {% render 'user-icon' %}
                        <spn class="customer-name-mobile">{{ customer.name -}}</spn>
                    </a>
                    <a href="{{ routes.cart_url }}" class="bag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.035" height="25.035" viewBox="0 0 25.035 25.035">
                            <g id="Group_2799" data-name="Group 2799" transform="translate(-311.979 -12.965)">
                            <path id="Path_5" data-name="Path 5" d="M7.043,8.086H8.785L11.4,19.87a3.743,3.743,0,0,0-2.13,3.462,3.566,3.566,0,0,0,3.37,3.726H26.469a1.043,1.043,0,1,0,0-2.086H12.638a1.516,1.516,0,0,1-1.284-1.64,1.516,1.516,0,0,1,1.284-1.641H26.469a1.043,1.043,0,0,0,.981-.69l3.523-9.776a1.043,1.043,0,0,0-.981-1.4H11.308l-.667-3.011A1.042,1.042,0,0,0,9.623,6H7.043a1.043,1.043,0,1,0,0,2.086Zm21.464,3.829L25.736,19.6H13.475l-1.7-7.69H28.507Z" transform="translate(305.979 6.965)" fill="#ed1b30"/>
                            <path id="Path_6" data-name="Path 6" d="M19.388,50a1.043,1.043,0,0,0,0,2.086h1.324a1.043,1.043,0,0,0,0-2.086Z" transform="translate(300.073 -14.086)" fill="#ed1b30"/>
                            <path id="Path_7" data-name="Path 7" d="M37.84,50a1.043,1.043,0,1,0,0,2.086h1.324a1.043,1.043,0,1,0,0-2.086Z" transform="translate(291.245 -14.086)" fill="#ed1b30"/>
                            </g>
                        </svg>
                        <strong data-cart-count>{{ cart.item_count }}</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="navigation-wrapper">
    <div class="container">
        <div class="all-categories">
            <a href="#" title="{{ section.settings.cat_title }}">{{ section.settings.cat_title }}</a>
            <div class="sub-item-dropdown">
                <ul class="submenu level-1">
                    {% for block in section.blocks %}
                        {% if block.type == 'style_1' %}
                            <li class="item">
                                <a href="{{ block.settings.menu_title_text_1_link }}" title="{{ block.settings.menu_title_text_1 }}">
                                    {{ block.settings.menu_title_text_1 }}
                                </a>
                                <ul class="level-2 level-menu">
                                    <li>
                                        <div class="">
                                            <div  class="submenu-items parent" style="width: 78.5%; float:left;">
                                                <ul class='menu_list'>
                                                    {% for link in linklists[block.settings.menu_style_1].links %}
                                                        <li class="sub-item">
                                                            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                                                            {% if link.links != blank %}
                                                                <ul class="level-3 level-menu">
                                                                    {% for child_link in link.links %}
                                                                        <li>
                                                                            <a href="{{ child_link.url }}" title="{{ child_link.title }}">
                                                                                {{- child_link.title -}}
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div style="width: 21.5%; float:left;">
                                                <ul class='menu_list'>
                                                    {% if block.settings.image_style_1 != blank %}
                                                        <li class="offers">
                                                            <div class="special-offers">
                                                                <img srcset="
                                                                    {%- if block.settings.image_style_1.width >= 165 -%}{{ block.settings.image_style_1 | image_url: width: 165 }} 165w,{%- endif -%}
                                                                    {%- if block.settings.image_style_1.width >= 360 -%}{{ block.settings.image_style_1 | image_url: width: 360 }} 360w,{%- endif -%}
                                                                    {%- if block.settings.image_style_1.width >= 533 -%}{{ block.settings.image_style_1 | image_url: width: 533 }} 533w,{%- endif -%}
                                                                    {%- if block.settings.image_style_1.width >= 720 -%}{{ block.settings.image_style_1 | image_url: width: 720 }} 720w,{%- endif -%}
                                                                    {%- if block.settings.image_style_1.width >= 940 -%}{{ block.settings.image_style_1 | image_url: width: 940 }} 940w,{%- endif -%}
                                                                    {%- if block.settings.image_style_1.width >= 1066 -%}{{ block.settings.image_style_1 | image_url: width: 1066 }} 1066w,{%- endif -%}
                                                                    {{ block.settings.image_style_1 | image_url }} {{ block.settings.image_style_1.width }}w
                                                                    "
                                                                    src="{{ block.settings.image_style_1 |img_url: "master" }}" width="100" height="100"
                                                                    alt="{{ block.settings.image_style_1.alt | escape }}"
                                                                    class="lazyload" loading="lazy" 
                                                                >
                                                            </div>
                                                        </li>
                                                    {% endif %}
                      
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            {% elsif block.type == 'style_2' %}
                                {% if block.settings.menu_title_text_2 != blank %}
                                    <li class="item content-arrow-none">
                                        <a href="{{ block.settings.menu_title_link_2 }}" title="{{ block.settings.menu_title_text_2 }}">
                                            {{ block.settings.menu_title_text_2 }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if block.type == 'style_2' %}
                                    <style>
                                        .navigation-wrapper .all-categories .sub-item-dropdown ul.submenu.level-1>li.content-arrow-none.item>a:after {
                                        content: none;
                                        }
                                    </style>
                                {% endif %}
                            {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <nav class="navigation">
            <ul>
                {% for link in linklists[section.settings.menu].links %}
                    <li>
                        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        {% if link.links != blank %}
                            <ul class="sub-menu-item" style="display:none">
                                {% for child_link in link.links %}
                                    <li>
                                        <a href="{{ child_link.url }}" title="{{ child_link.title }}">{{ child_link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="searchForm mobile-search">
            <div class="seachIcon custom-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
                    <path id="Path_7" data-name="Path 7" d="M30.755,29.58l-4.808-4.808a8.422,8.422,0,1,0-1.18,1.18l4.808,4.8a.833.833,0,0,0,1.18-1.176Zm-11.327-3.4a6.753,6.753,0,1,1,6.755-6.751A6.76,6.76,0,0,1,19.429,26.18Z" transform="translate(-10.5 -10.5)" fill="#ed1b30" stroke="#ed1b30" stroke-width="1"/>
                </svg>
            </div>
            <div class="seachIcon custom-icon-2" style="display:none;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="21" height="21" viewBox="0 0 256 256" xml:space="preserve">
                    <defs>
                    </defs>
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(45.02412451361867 45.024124513618645) scale(1.83 1.83)">
                        <path d="M 13.4 88.492 L 1.508 76.6 c -2.011 -2.011 -2.011 -5.271 0 -7.282 L 69.318 1.508 c 2.011 -2.011 5.271 -2.011 7.282 0 L 88.492 13.4 c 2.011 2.011 2.011 5.271 0 7.282 L 20.682 88.492 C 18.671 90.503 15.411 90.503 13.4 88.492 z" style="stroke: none;stroke-width: 1;stroke-dasharray: none;stroke-linecap: butt;stroke-linejoin: miter;stroke-miterlimit: 10;fill: rgb(255 255 255);fill-rule: nonzero;opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
                        <path d="M 69.318 88.492 L 1.508 20.682 c -2.011 -2.011 -2.011 -5.271 0 -7.282 L 13.4 1.508 c 2.011 -2.011 5.271 -2.011 7.282 0 l 67.809 67.809 c 2.011 2.011 2.011 5.271 0 7.282 L 76.6 88.492 C 74.589 90.503 71.329 90.503 69.318 88.492 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255 255 255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
                    </g>
                </svg>
            </div>
            <form class="search-form" action="/pages/search-results">
                <input
                    type="text"
                    name="q"
                    class="search-form__input"
                    maxlength="40"
                    placeholder="Search Entire Store Here..."
                >
                <button type="submit" value="search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
                    <path id="Path_7" data-name="Path 7" d="M30.755,29.58l-4.808-4.808a8.422,8.422,0,1,0-1.18,1.18l4.808,4.8a.833.833,0,0,0,1.18-1.176Zm-11.327-3.4a6.753,6.753,0,1,1,6.755-6.751A6.76,6.76,0,0,1,19.429,26.18Z" transform="translate(-10.5 -10.5)" fill="#ed1b30" stroke="#ed1b30" stroke-width="1"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
                
{% schema %}
{
    "name":"Header",
    "max_blocks": 15,
    "settings":[
        {
            "type":"image_picker",
            "id":"logo_img",
            "label":"Select Logo Image"
        },
        {
            "type":"link_list",
            "id":"menu",
            "label":"Menu",
            "default":"main-menu"
        },
        {
            "type":"url",
            "id":"offer_link",
            "label":"Offer Link"
        },
        {
            "type":"text",
            "id":"offer_text",
            "label":"Text"
        },
        {
            "type":"url",
            "id":"help_link",
            "label":"Help Link"
        },
        {
            "type":"text",
            "id":"help_text",
            "label":"Text"
        },
        {
            "type":"text",
            "id":"order_text",
            "label":"Text",
            "default":"My Orders"
        },
        {
            "type":"text",
            "id":"wishlist_text",
            "label":"Text",
            "default":"Shopping Wishlist"
        },
        {
            "type":"url",
            "id":"wishlist_link",
            "label":"Wishlist Link"
        },
        {
            "type":"text",
            "id":"address_text",
            "label":"Text",
            "default":"My Address"
        },
        {
            "type":"text",
            "id":"logout_text",
            "label":"Text",
            "default":"Logout"
        },
        {
            "type":"text",
            "id":"cat_title",
            "label":"Categories Text",
            "default":"All Categories"
        },
        {
            "type": "header",
            "content": "Announcement bar"
        },
        {
            "type": "checkbox",
            "id": "message",
            "label": "Show announcement",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "announcement_desktop_image",
            "label": "Show Announcement Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "announcement_mobile_image",
            "label": "Show Announcement Mobile Image"
        },
        {
            "type": "checkbox",
            "id": "home_page_only",
            "label": "Home page only",
            "default": true
        },
        {
            "type": "text",
            "id": "message_text",
            "label": "Text",
            "default": "Announce something here"
        },
        {
            "type": "url",
            "id": "message_link",
            "label": "Link",
            "info": "Optional"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Bar",
            "default": "#3a3a3a"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#ffffff"
        }
    ],
    "blocks":[
        {
            "type":"style_1",
            "name":"Mega Menu Style 1",
            "settings":[
                {
                    "type":"text",
                    "id":"menu_title_text_1",
                    "label":"Menu Title"
                },
                {
                    "type":"url",
                    "id":"menu_title_text_1_link",
                    "label":"Menu Title Link"
                },
                {
                    "type":"link_list",
                    "id":"menu_style_1",
                    "label":"Sub Menu"
                },
                {
                    "type":"image_picker",
                    "id":"image_style_1",
                    "label":"Select Image"
                }
            ]
        },
        {
            "type":"style_2",
            "name":"Mega Menu Style 2",
            "settings":[
                {
                    "type":"text",
                    "id":"menu_title_text_2",
                    "label":"Menu Title"
                },
                {
                    "type":"url",
                    "id":"menu_title_link_2",
                    "label":"Link"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
  