{% comment %} Main Product layout start {% endcomment %}

<main class="product-main">

    <section class="product__wrapper">
        <div class="container">
            <div class="product__main-container">
                <div class="product__main--main-slider">
                    <div class="product-thumb">

                        <div>
                            <div class="thumb-image-wrapper">
                                <img src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                    alt="" width="100" height="100">
                            </div>
                        </div>

                        <div>
                            <div class="thumb-image-wrapper">
                                <img src="https://tools4trade.co.uk/cdn/shop/products/82291-2.jpg?v=1687047871" alt=""
                                    width="100" height="100">
                            </div>
                        </div>

                        <div>
                            <div class="thumb-image-wrapper">
                                <img src="https://i3.ytimg.com/vi/U6WNzaM1xN8/maxresdefault.jpg" alt="" width="100"
                                    height="100">
                            </div>
                        </div>

                        <div>
                            <div class="thumb-image-wrapper">
                                <img src="https://tools4trade.co.uk/cdn/shop/products/82291-2.jpg?v=1687047871" alt=""
                                    width="100" height="100">
                            </div>
                        </div>

                        <div>
                            <img src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129" alt=""
                                width="100" height="100">
                        </div>

                        <div>
                            <img src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129" alt=""
                                width="100" height="100">
                        </div>

                        <div>
                            <img src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129" alt=""
                                width="100" height="100">
                        </div>

                    </div>
                    <div class="product-main-image">
                        <div><a title="Product title"
                                href="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                data-fancybox="gallery"><img
                                    src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                    alt="" width="960" height="960"></a></div>

                        <div><a title="Product title"
                                href="https://tools4trade.co.uk/cdn/shop/products/82291-2.jpg?v=1687047871"
                                data-fancybox="gallery"><img
                                    src="https://tools4trade.co.uk/cdn/shop/products/82291-2.jpg?v=1687047871" alt=""
                                    width="960" height="960"></a></div>

                        <div>
                            <a title="Product title" href="https://youtu.be/U6WNzaM1xN8" data-fancybox="gallery">
                                <div class="video-wrapper">
                                    <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/U6WNzaM1xN8?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                                </div>
                            </a>
                        </div>

                        <div><a title="Product title"
                                href="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                data-fancybox="gallery"><img
                                    src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                    alt="" width="960" height="960"></a></div>

                        <div><a title="Product title"
                                href="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                data-fancybox="gallery"><img
                                    src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                    alt="" width="960" height="960"></a></div>

                        <div><a title="Product title"
                                href="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                data-fancybox="gallery"><img
                                    src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                    alt="" width="960" height="960"></a></div>

                        <div><a title="Product title"
                                href="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                data-fancybox="gallery"><img
                                    src="https://tools4trade.co.uk/cdn/shop/products/F03FS09755-01.jpg?v=1690467129"
                                    alt="" width="960" height="960"></a></div>
                    </div>
                </div>
                <div class="product__details-main">
                    <h1 class="product-main__title">Festool 260mm 80T Fine Tooth Saw Blade 494605</h1>

                    <div class="price-wrapper">
                        <div class="price-container">
                            <div class="regular-price">
                                <span>£100.00</span>
                                <strong>£83.33 Ex.VAT</strong>
                            </div>
                        </div>
                    </div>

                    <div class="promotion-boxes">
                        <div class="box">
                            <img width="45" height="39"
                                src="https://cdn.shopify.com/s/files/1/0508/5220/0645/files/deliveryIcon.png?v=1681815023"
                                alt="">
                            <p>Free Next Working Day Delivery*</p>
                        </div>
                        <div class="box">
                            <img width="45" height="39"
                                src="https://cdn.shopify.com/s/files/1/0508/5220/0645/files/deliveryIcon.png?v=1681815023"
                                alt="">
                            <p>Free Next Working Day Delivery*</p>
                        </div>
                    </div>

                    <div class="product-description">
                        <ul>
                            <li>Super Micro Grain Carbide Tips</li>
                            <li>Perma-SHIELD Non-stick Coating</li>
                            <li>Laser-cut Expansion and Anti-vibration Slots</li>
                            <li>Ideal for Cutting Wooden Materials</li>
                        </ul>
                    </div>

                    <div class="qty-box">
                        <label for="" aria-label="Quantity:">Quantity:</label>
                        <div class="qty-box-wrapper">
                            <a href="javascript:void(0)" class="decrease" title="decrement">-</a>
                            <input type="text" name="quantity" value="1" readonly="" min="1" class="qty__input">
                            <a href="javascript:void(0)" class="increase" title="increment">+</a>
                        </div>
                    </div>

                    <div class="product-actions">
                        <button type="button" aria-label="Add to cart" title="add to cart" class="addtocart-btn">Add to
                            cart</button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="product-bottom__wrapper">
        <div class="container">
            <div class="product__tabs">
                <div class="product__tabs-wrapper">
                    <input type="radio" id="Description" name="the_tabs" checked="checked">
                    <label for="Description">Description</label>
                    <div class="tab">
                        {% for tag in product.tags %}
                        {% if tag contains 'b2g1' %}
                        <div class="banner_img_new">
                            <a href="https://tools4trade.co.uk/collections/buy-2-get-1-free" title="Buy 2 get 1 Free">
                                <img src="https://cdn.shopify.com/s/files/1/0508/5220/0645/files/final-3.jpg?v=1687772466" alt="{{ block.settings.banner_img.alt }}" class="desktop_image_new lazyload" width="1920" height="300" loding="Lazy" />
                            </a>
                            <a href="https://tools4trade.co.uk/collections/buy-2-get-1-free" title="Buy 2 get 1 Free">
                                <img src="https://cdn.shopify.com/s/files/1/0508/5220/0645/files/final-1.jpg?v=1687772424" alt="{{ block.settings.banner_img_mobile.alt }}" class="mobile_image_new lazyload" width="800" height="710" loding="Lazy" />
                            </a>
                        </div>
                        {% endif %}
                        {% if tag contains 'dewalt_offer1' %}
                        <div class="banner_img_new">
                            <a href="https://tools4trade.co.uk/pages/ts-cs-tools4trade-dewalt-redemption-offer" title="TOOLS4TRADE Redemption Offer ON DEWALT">
                                <img src="https://cdn.shopify.com/s/files/1/0508/5220/0645/files/pdp.jpg?v=1688736735" alt="{{ block.settings.banner_img.alt }}" class="desktop_image_new lazyload" width="1920" height="300" loding="Lazy" />
                            </a>
                            <a href="https://tools4trade.co.uk/pages/ts-cs-tools4trade-dewalt-redemption-offer" title="TOOLS4TRADE Redemption Offer ON DEWALT">
                                <img src="https://cdn.shopify.com/s/files/1/0508/5220/0645/files/Image20230707160134.jpg?v=1688726085"
                                    alt="{{ block.settings.banner_img_mobile.alt }}" width="800" height="710" class="mobile_image_new lazyload"
                                    loding="Lazy" />
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% assign my_description = product.description | split: '<!-- split -->' | last %}
                        {% if my_description != blank %}
                        {{ my_description }}
                        {% endif %}
                    </div>

                    <input type="radio" id="review-tab" name="the_tabs">
                    <label for="review-tab">Review</label>
                    <div class="tab">
                        <!-- TrustBox widget - Product Reviews -->
                        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="544a426205dc0a09088833c6" data-businessunit-id="564473c60000ff00058571cd" data-style-height="700px" data-style-width="100%" data-theme="light" data-sku="{{ product.selected_or_first_available_variant.sku }}" data-review-languages="en" data-no-reviews="show" data-fullwidth="true">
                            <a href="https://uk.trustpilot.com/review/" target="_blank" rel="noopener" title="Trustpilot">Trustpilot</a>
                        </div>
                        <!-- End TrustBox widget -->
                    </div>

                    <input type="radio" id="tab-sample" name="the_tabs">
                    <label for="tab-sample">sample tab</label>
                    <div class="tab">Text here...</div>
                </div>
            </div>
            <aside class="recently__products">
                Buy it with
            </aside>
        </div>
    </section>

</main>

{% comment %} Main Product layout end {% endcomment %}

<style>
    .product-main {
        width: 100%;
        display: inline-block;
        margin-bottom: 50px;
    }

    .product__main-container {
        margin-bottom: 50px;
        background: #fff;
        padding: 40px 20px 30px;
        box-shadow: 0 1px 6px #00000029;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .product__main-container .product__main--main-slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: calc(50% - 75px);
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .product__main-container .product__main--main-slider .slick-track {
        display: block !important;
    }

    .product__main-container .product__main--main-slider .slick-track .slick-slide {
        height: 100% !important;
    }

    .product__main-container .product__main--main-slider .slick-vertical .slick-track .slick-slide {
        height: auto !important;
    }

    .product__main-container .product__main--main-slider .product-thumb {
        width: 100px;
    }

    .product__main-container .product__main--main-slider .product-main-image {
        width: calc(100% - 100px);
    }

    .product__main-container .product__details-main {
        width: calc(50% - 75px);
    }

    .product-bottom__wrapper .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .product-bottom__wrapper .product__tabs {
        width: 74%;
    }

    .product-bottom__wrapper .recently__products {
        width: 24.5%;
    }

    .product__tabs-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
    }

    .product__tabs-wrapper input[type="radio"] {
        display: none;
    }

    .product__tabs-wrapper label {
        position: relative;
        line-height: 20px;
        cursor: pointer;
        display: inline-block;
        color: #000;
        font-weight: 500;
        padding: 0 16px 18px;
        font-size: 18px;
        letter-spacing: .36px;
    }

    .product__tabs-wrapper .tab {
        width: 100%;
        padding: 36px 20px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0 1px 6px #00000029;
        order: 1;
        display: none;
    }

    .product__tabs-wrapper input[type="radio"]:checked+label+.tab {
        display: block;
    }
</style>